.about {
  padding: 8rem 0;
}

.about header,
.team {
  padding: 0 1rem;
}

.team {
  margin: 5rem 0;
}

.team h3 {
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  color: #523636;
  padding-top: 3rem;
  margin: 2rem 0;
}

.each_team h3 {
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  padding: 0;
  margin: 10px 0;
}

.each_team p {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #5b5c6c;
}

.about .Footer {
  padding: 5rem 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .about header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4.5rem;
  }

  .about_header {
    width: 55%;
  }

  .team .image {
    width: 100%;
  }

  .about header .image {
    width: 35%;
  }

  .team {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4.5rem;
  }

  .about .Footer {
    padding: 2rem 4.5rem;
    padding-bottom: 5rem;
  }
}
