.contact {
  padding: 8rem 0;
  padding-bottom: 2rem;
}

.contact header {
  /* background: #ffff; */
  min-height: calc(50vh - 8rem);
  padding: 1rem;
  position: relative;
}

.circle {
  position: absolute;
  top: 5%;
  left: 60%;
  z-index: -9;
}

.contact header h3 {
  font-family: var(--ranade);
font-size: 32px;
font-weight: 500;
line-height: 43.84px;
text-align: center;

}

.contact header p {
font-family: Manrope;
font-size: 16px;
font-weight: 300;
line-height: 26px;
letter-spacing: 0.04em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.contact header h4 {
  color:#f8ba3f;;
font-family: var(--ranade);
font-size: 15px;
font-weight: 500;
line-height: 16.44px;
letter-spacing: 0.02em;
text-align: center;

}

.contact form {
  background: #f6f6f6;
  padding: 3rem 1.5rem;
  border-radius: 10px;
}

.form_input,
.mobform_input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form_input label,
.mobform_input label {
  font-size: 16px;
  line-height: 22px;
  font-family: var(--ranade);
  color: #523636;
}

.form_input input,
.mobform_input input {
  padding: 13px;
  margin: 10px 0;
  border-radius: 8px;
  outline: none;
  border: none;
}

.form_input textarea {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  outline: none;
  border: none;
  resize: none;
}

.contact_submit input {
  padding: 0.7rem;
  outline: none;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #fff;
  background: #f8ba3f;
  border: 1px solid #f8ba3f;
  border-radius: 8px;
  font-family: var(--ranade);
}

.contact_detail {
  padding: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

.bg {
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: 0;
  left: -20px;
}

.contact_detail p,
.contact_detail h4 {
  text-align: left;
}

.contact_detail h4 {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 22px;
  color: #523636;
}

.contact_detail p {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: rgba(82, 54, 54, 0.85);
}

.c_det {
  margin: 1.2rem 0;
}

.c_det .top {
  display: flex;
  align-items: center;
}

.top svg {
  margin-right: 10px;
}

.contact .Footer {
  padding-top: 4rem;
}

.contact .Footer p,
.contact .Footer h3 {
  text-align: left;
}

.contact .faq p,
.contact .faq h4 {
  text-align: left;
  font-weight: 500;
  text-transform: none;
}

.contact .freedom p,
.contact .freedom h3 {
  text-align: left;
}

.inverse {
  display: block;
}

.name {
  display: none;
}

@media (min-width: 768px) {
  .mobform_input {
   display: none;
  }

  .contact header {
    width: 70%;
    margin: auto;
  }

  .inverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem;
  }

  .inverse form {
    width: 50%;
  }

  .contact_detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    align-items: start;
    grid-gap: 10px;
  }

  .inverse .contact_detail {
    width: 50%;
    padding-top: 10%;
  }

  .c_det {
    margin: 0.3rem 0;
  }

  .c_det p {
    margin-left: 1.3rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: rgba(82, 54, 54, 0.85);
  }

  .name {
    display: block;
  }

  .name .form_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .name .form_input input {
    width: 47%;
  }

  .contact .freedom p,
  .contact .freedom h3 {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .contact header {
    width: 50%;
  }

  .inverse {
    padding: 4rem;
  }
}

@media (min-width: 1280px) {
  .inverse {
    padding-top: 0;
  }

  .contact header {
    min-height: calc(40vh - 8rem);
   }
}

@media (min-width:1378px) {
   .contact header {
    padding: 0 9rem;
   }

   .inverse form {
    width: 45%;
  }

   .contact .inverse {
    padding: 0 11rem;
    padding-bottom: 5rem;
   }

   .contact header {
    min-height: calc(40vh - 8rem);
   }
}
