.discount {
  background: #fafafa;
  padding-bottom: 3.5rem ;
  padding-top: 4rem;
  position: relative;
}

.circle {
  width: 100px;
  height: 100px;
  position: absolute;
  /* z-index: -1; */
  right: 0;
  bottom: 0;
}

.discount h3 {
  font-family: var(--ranade);
font-size: 28px;
font-weight: 600;
line-height: 38.36px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.discount p {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.04em;
  color: rgba(82, 54, 54, 0.85);
}

.discount_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1.2rem 0;
}

.plans {
  width: 45%;
  margin: 1rem 0;
}

.plans h4 {
font-family: var(--ranade);
font-size: 24px;
font-weight: 500;
text-underline-position: from-font;
text-decoration-skip-ink: none;
  font-size: 24px;
  line-height: 33px;
}

.plans p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #64748b;
}



@media (min-width: 768px) {
  .discount {
    padding: 5rem 0;
  }

  .discount h3,
  .discount h4 {
    text-align: center;
  }

  .discount p {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
  }

  .discount_wrapper {
    justify-content: center;
  }

  .discount_wrapper .plans {
    width: 22%;
  }

  .discount .get_price {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
  }
}

@media (min-width: 1000px) {
  .discount p {
    width: 65%;
    margin: 1rem auto;
  }

  .discount .plans {
    width: 20%;
  }

  .discount .plans p {
    width: 80%;
  }

  .discount .get_price {
    width: 40%;
  }
}

@media (min-width: 1280px) {

  .discount p {
    width: 50%;
    margin: 1rem auto;
  }
  
  .discount .plans {
    width: 15%;
  }
}
