.faq h3 {
  text-align: center;
}

.faq_wrapper label {
  background: #f6f6f6;
  padding: 1rem;
  margin: 10px 0;
  width: 100%;
  display: block;
}

.faq_wrapper input {
  opacity: 0;
  height: 0;
  width: 0;
  display: none;
}

.faq_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_top h4 {
  font-size: 18px;
  line-height: 25px;
  color: #885a5a;
  text-transform: capitalize;
  margin-right: 20px;
}

.opener .fa-minus {
  display: none;
}

.closer .fa-minus {
  display: block;
}

.closer .fa-plus {
  display: none;
}

.faq_wrapper p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .faq {
    padding-top: 0;
  }

  .faq h3 {
    margin: 4rem 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    color: #523636;
  }

  .faq_wrapper {
    width: 50%;
    margin: auto;
  }

  .faq_top h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }

  .faq_top p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
  }
}
