.freedom {
  background-color: #c4a6a6;
  width: 100%;
  padding: 3rem 1rem;
  text-align: center;
}

.freedom h3 {
  line-height: 38px;
  color: #fff;
  text-align: left;
  font-weight: 400;
  font-size: 28px;
  font-family: var(--ranade);
}

.freedom p {
  line-height: 28px;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.04em;
  color: #fff;
}

.freedom .get_price {
  margin: 2rem 0;
}

.btn {
  margin: 1.7rem 0;
}

.btn a {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #885a5a;
  background-color: white;
}

.btn a:last-child {
  background-color: transparent;
  border-color: white;
  color: #ffff;
  line-height: 30px;
}

@media (min-width: 768px) {
  .freedom .get_price {
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }

  .freedom .get_price a {
    width: 45%;
  }

  .freedom .freedom_content {
    width: 70%;
    margin: auto;
  }

  .freedom p,
  .freedom h3 {
    text-align: center;
  }

  .freedom p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 2rem 0;
  }

  .freedom h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    margin: 1rem 0;
  }

  .btn {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .freedom .freedom_content {
    width: 70%;
    margin: auto;
  }

  .freedom .get_price {
    width: 70%;
  }

  .freedom .freedom_content h3 {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1280px) {
  .freedom .freedom_content {
    width: 52%;
    margin: auto;
  }

  .freedom .freedom_content h3 {
    width: 80%;
    margin: auto;
  }
}


@media (min-width: 1378px) {
  .freedom .freedom_content {
    width: 40%;
    margin: auto;
  } 

  .freedom p {
    font-size: 20px;
    line-height: 35px;
  }

  .freedom h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    margin: 1rem 0;
  }

}