.get_price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.get_price a {
  padding: 10px;
}

.price {
  background-color: #f8ba3f;
  color: white;
  font-size: 16px;
  width: 47%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.price span {
  display: block;
}

.arrow {
  padding-top: 8px;
  margin-left: 6px;
}

.get_price a:last-child {
  background-color: transparent;
  color: #f8ba3f;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #f8ba3f;
  width: 47%;
  text-align: center;
}

@media (min-width: 768px) {
  .get_price {
    margin: 0;
  }

  .get_price a {
    padding: 15px;
  }
}

@media (min-width: 1000px) {
  .get_price a {
    padding: 15px;
  }
}

@media (min-width: 1280px) {
  .get_price {
    width: 60%;
  }
}
