.home header {
  padding-top: 8rem;
}

@media (min-width: 768px) {
  .home header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  /* .home .get_price {
    width: 100%;
  }

  .home .header_text .desktop {
    display: flex;
    width: 100%;
  }

  .home .header_text .desktop li {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 0;
    line-height: 26px;
    letter-spacing: 0.04em;
    margin-right: 5%;
    color: rgba(82, 54, 54, 0.85);
  }

  .home .header_text .desktop .solid {
    display: block;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #885a5a;
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
  } */
}

@media (min-width: 1000px) {

  /* .btn div {
    width: 80%;
  } */

  .image {
    width: 550px;
    height: 470px;
  }

  /* .home .get_price {
    width: 100%;
    margin: 2rem 0;
  }

  .home .header_text .desktop {
    display: flex;
    width: 100%;
    margin-top: 2rem;
  }

  .home .header_text .desktop li {
    font-size: 14px;
  }

  .home .header_text .desktop .solid {
    margin-bottom: 0.5rem;
    font-size: 25px;
    font-weight: 600;
    margin-right: 10px;
  } */
}

@media (min-width: 1280px) {
  
  /* .home .header_text .desktop {
    margin-top: 1rem;
  } */


  /* .home .header_text .desktop li {
    font-size: 18px;
  }

  .home .header_text .desktop .solid {
    margin-bottom: 0.5rem;
    font-size: 32px;
    font-weight: 600;
    margin-right: 10px;
  } */

  .image {
    width: 700px;
    height: 510px;
  }
}

@media (min-width:1378px) {
  /* .headerWrapper {
    padding-left: 9rem;
  }

  .home .header_text {
    width: 45%;
  }

  .image {
    margin-right: 4rem;
    height: 100%;
  } */
/* 
  .btn {
    margin: 1.5rem 0;
  } */

  /* .header_text p {
    font-size: 20px;
    line-height: 37px;
  } */

  /* .btn div {
    width: 65%;
  } */
}
