th:first-child,
td:first-child {
  border-left: 1px solid #f5ccc3;
}

.pricelist td,
.pricelist th {
  border-right: 1px solid #f5ccc3;
  border-bottom: 1px solid #f5ccc3;
  font-size: 10px;
}

.pricelist table td {
  margin: 10px;
  padding: 5px;
}

.ici {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.price_table {
  padding: 1rem;
}

.price_table h3 {
  font-size: 20px;
  line-height: 25px;
  color: #885a5a;
  text-transform: capitalize;
}

.price_table .icon {
  margin-right: 10px;
}

.pricelist th {
  padding: 10px 0;
}

.pricelist p {
  font-size: 13px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #000;
}

.ici h4 {
  font-size: 13px;
  line-height: 25px;
  color: #885a5a;
}

.sum {
  background: #c4a6a6;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2rem;
  color: white;
  margin: 1rem;
}

.sum label {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #fff;
}

.sum .input {
  display: flex;
  width: 100%;
  background-color: #fff;
  color: #b1b1b1;
  padding: 1rem;
  border-radius: 8px;
  margin: 10px 0;
  margin-bottom: 20px;
}

.input input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 12px;
  font-size: 15px;
  color: #b1b1b1;
}

.input:focus-within {
  color: #000; /* Change to the desired font color */
}

.input input:focus {
  color: #000;
}

.sum h4 {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  text-transform: capitalize;
  margin: 1.5rem 0;
}

.sum p {
  text-align: center;
  margin: 10px 0;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
}
