.pricelist {
  overflow: hidden;
  padding-top: 3rem;
}

.pricelist h3 {
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}

th:first-child,
td:first-child {
  border-left: 1px solid #f5ccc3;
}

.pricelist td,
.pricelist th {
  border-right: 1px solid #f5ccc3;
  border-bottom: 1px solid #f5ccc3;
  font-size: 17px;
  padding: 1rem;
  line-height: 28px;
  text-align: center;
  width: 400px;
}

.pricelist th {
  font-weight: 500;
  padding: 10px 0;
  line-height: 22px;
  color: #523636;
}

.pricelist .solid {
  font-weight: 600;
}

.pricelist table td {
  margin: 14px;
}

.pricelist .dollar {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.04em;
  font-weight: 300;
}

.ici {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 0 1rem;
}

.price_table {
  padding: 1rem;
  overflow-x: scroll;
}

.price_table table {
  width: 1000px;
}

.price_table h3,
.ici h3 {
  font-size: 20px;
  line-height: 25px;
  color: #885a5a;
  text-transform: capitalize;
}

.price_table .icon {
  margin-right: 10px;
}

.pricelist p {
  font-size: 14px;
  padding: 10px 0;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #000;
}

.ici h4 {
  font-size: 15px;
  line-height: 25px;
  margin-left: 5px;
  color: #885a5a;
  text-transform: capitalize;
}

.price_desktop {
  display: none;
}

.sum {
  background: #c4a6a6;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2rem;
  color: white;
  margin: 1rem;
}

.sum label {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #fff;
}

.sum .input {
  display: flex;
  width: 100%;
  background-color: #fff;
  color: #b1b1b1;
  padding: 1rem;
  border-radius: 8px;
  margin: 10px 0;
  margin-bottom: 20px;
}

.input input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 12px;
  font-size: 15px;
  color: #b1b1b1;
}

.input:focus-within {
  color: #000; /* Change to the desired font color */
}

.input input:focus {
  color: #000;
}

.sum h4 {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  text-transform: capitalize;
  margin: 1.5rem 0;
}

.sum p {
  text-align: center;
  margin: 10px 0;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
}

.lis,
.pricelist .ee {
  padding: 0 1rem;
}

.no-arrow-input {
  -moz-appearance: textfield;
}

.no-arrow-input::-webkit-inner-spin-button,
.no-arrow-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 768px) {
  .sum_h3 {
    text-align: center;
    margin: 1.5rem 0;
  }

  .pricelist {
    width: 90%;
    margin: 1rem auto;
  }

  .price_table {
    overflow: hidden;
    margin: 2rem 0;
  }

  .price_table table {
    width: 100%;
  }

  .ici h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0;
  }

  .ici .icon {
    margin-right: 4px;
  }

  .lis {
    display: flex;
  }

  .lis p,
  .pricelist .ee {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
  }

  .price_desktop {
    display: inline;
    margin: 0 5px;
  }

  .sum {
    width: 80%;
    margin: 4rem auto;
    padding: 2rem 4.5rem;
  }

  .sum .input {
    margin: 0;
  }

  .form_flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .form_flex div {
    width: 49%;
  }

  .sum .tt {
    margin-top: 20px;
  }
}

@media (min-width: 1000px) {
  .pricelist {
    width: 90%;
  }

  .sum {
    width: 60%;
    margin: 4rem auto;
    padding: 2rem 4.5rem;
  }
}
