.reason {
  width: 93%;
  margin: 1rem auto;
}

.reason h3 {
  text-align: center;
  font-size: 28px;
  line-height: 38px;
}

.reason p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.reason .top {
  font-weight: 300;
  color: rgba(82, 54, 54, 0.85);
}

.reason_wrapper {
  margin: 2rem 0;
  background: #c4a6a6;
  padding: 1rem;
  color: whitesmoke;
}

.reason_wrapper p {
  text-align: left;
}

.each_reason {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 7px;
}

.each_reason h4 {
  margin-bottom: 12px;
  text-transform: capitalize;
}

.reason_image img {
  width: 100%;
  border-radius: 7px;
}

.each_reason p {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.04em;
}

@media (min-width: 768px) {
  .reason_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 4rem 3rem;
  }

  .eeach {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .each_reason {
    width: 49%;
    margin: 5px 0;
    padding: 1rem 1.5rem;
  }

  .reason h3,
  .reason .top {
    width: 37%;
    margin: auto;
  }

  .reason h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #523636;
  }

  .reason .top {
    margin: 20px auto;
  }

  .reason_image {
    width: 39%;
  }
}
