
.service {
  padding-top: 2rem;
}

.service_wrapper h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: rgba(82, 54, 54, 0.85);
}

.each_service {
  padding-top: 2rem;
}

.each_image {
  width: 100%;
  margin: 1rem 0;
}

.each_image img {
  width: 100%;
}

.bene {
  display: flex;
  align-items: baseline;
}

.bene .imge {
  width: 7%;
  margin-right: 10px;
}

.each .top {
  align-items: center;
}

.top h4 {
  font-size: 24px;
  line-height: 32.88px;
  font-weight: 500;
  font-family: var(--ranade);
  color: var(--header);
  text-transform: capitalize;
  margin: 1rem 0;
}

.each_service .img {
  width: 100%;
}

.bold {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.04em;
}

.service .top {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--text-p);
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.servicetwo {
  padding: 2rem 0;
}

.laundry h4 {
  font-size: 20px;
  line-height: 33px;
  color: #523636;
  margin: 5px 0;
  text-transform: capitalize;
}

.laundry p {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #523636;
  margin: 10px 0;
}

.laundry .main {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #523636;
}

.service .flex {
  align-items: baseline;
}

.flex .imge {
  width: 5%;
  margin-right: 10px;
}

.image img {
  width: 100%;
  height: 100%;
}

.imge img {
  width: 100%;
}

.text p {
  margin: 0;
  margin-left: 6px;
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  .service {
    padding: 2.5rem;
    padding-bottom: 0;
  }

  .service h3,
  .service .top {
    margin: 1rem auto;
    text-align: center;
  }

  .service h3 {
    width: 56%;
  }

  .two_content .img {
    display: none;
  }
}

@media (min-width: 1000px) {
  .two_content {
    display: flex;
    justify-content: space-between;
  }

  .laundry h4 {
    font-size: 22px;
  }

  .two_content .img {
    display: block;
    width: 34%;
    height: 650px;
    padding-top: 3.5rem;
  }

  .img img {
    width: 100%;
    height: 100%;
  }

  .two_content .text {
    width: 65%;
    margin-left: 10px;
  }

  .text .laundry:first-child {
    margin-bottom: 2rem;
  }

  .service .top {
    width: 80%;
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .service {
    padding: 2.5rem 5rem;
  }

  .service .top {
    width: 65%;
  }

  .two_content .img {
    display: block;
    width: 350px;
    height: 650px;
  }

  .two_content .text {
    width: calc(100% - 350px);
    margin-left: 5rem;
  }

  .two_content .text p {
    font-size: 15px;
    line-height: 28px;
  }

  .img img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1378px) {
  .service {
    padding: 2.5rem 10rem;
  }

  .service .top {
    font-size: 22px;
    line-height: 38px;
  }

  .service .text p {
    font-size: 18px;
    line-height: 32px;
  }

  .laundry .main {
    font-size: 18px;
  }

  .laundry h4 {
    font-size: 25px;
  }
}
